:root {
    --aspect-ratio: calc(100vw / 100vh);
  }
  
  h1 {
    font-size: calc(1.5rem + var(--aspect-ratio) * 0.5rem);
    line-height: calc(1.2em + var(--aspect-ratio) * 0.2em);
   }
  
   #quote {
    font-size: calc(1rem + var(--aspect-ratio) * 0.4rem);
    line-height: calc(1.2em + var(--aspect-ratio) * 0.1em);
    padding: calc(0.5rem + var(--aspect-ratio) * 0.3rem);
   }
   #generate {
    font-size: calc(1rem + var(--aspect-ratio) * 0.3rem);
    padding: calc(0.5rem + var(--aspect-ratio) * 0.2rem) calc(1rem + var(--aspect-ratio) * 0.4rem);
   }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url("bg-motivation.jpg") no-repeat center/cover;
    background-color: #e0eafc;
    background-blend-mode: overlay;
    min-height: 100vh;
    padding: calc(2rem * var(--aspect-ratio));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  